.singleproductcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}


.singleproductimage {
    
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    
}

@media (min-width: 500px) {

    .singleproductcontainer {
        display: flex;
        align-items: center;
    }

    .singleproductimage  {
        min-width: 400px;
    }
}